
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital@0;1&display=swap');
/*
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif;
*/
:root{
    --gap: 3rem;
    --primary-color: #0a1128;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
    
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
body{
    color: var(--primary-color);
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
}
.main-bg{
    color: white;
    background-image: url(../img/confetti-doodles.png);
    background-size: cover;
    background-position: center center;
}
.main-content{
    padding: var(--gap);
    margin: 0px auto;
    max-width: 1200px;
}
.section {
    
    min-height: 100vh;
}
.menu{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.menu-content{
    justify-content: space-around;
    display: flex;
}
.menu h1{
    color: var(--primary-color);
    font-size: 2.3rem;
}
.menu h1 a{
    color: inherit;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{

}